section.banner-interna {
    height: 645px;
    margin-bottom: 55px;
}

.banner-mode {
    padding: 0 !important;
}

.banner-mode:before {
    background: url(../img/banner-mode.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    width: 100%;
    height: 690px;
    content: "";
    z-index: -1;
    position: absolute;
}

.banner-interna img {
    z-index: -2;
    position: relative;
    height: 630px;
    width: 96%;
    object-fit: cover;
}


/***/

.banner-interna-texto {
    padding-top: 150px;
}

.banner-interna-texto .valor {
    font-size: 16px;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    margin-left: -65px;
    line-height: 40px;
    margin-bottom: 24px;
}

.banner-interna-texto .valor b {
    font-size: 45px;
    font-weight: 600;
}

.banner-interna-texto .informacoes {
    padding: 0;
    height: 58px;
    margin-left: 0;
    margin-bottom: 45px;
}

.banner-interna-texto .informacoes li {
    list-style: none;
    float: left;
    width: 200px;
    padding: 10px 0;
}

.banner-interna-texto .informacoes a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.banner-interna-texto .informacoes a:hover {
    color: #f47332;
}

.banner-interna-texto .informacoes i {
    width: 55px;
    height: 55px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 15px;
    margin-top: -7px;
}

.banner-interna-texto .informacoes i.icon-agende {
    background-image: url("../img/icon-agende.png");
}

.banner-interna-texto .informacoes i.icon-compre-chat {
    background-image: url("../img/icon-compre-chat.png");
}

.banner-interna .descricao-empreendimento {
    padding: 0;
    height: 90px;
    width: 412px;
}

.banner-interna .descricao-empreendimento li {
    list-style: none;
    float: left;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    margin-right: 50px;
    margin-bottom: 15px;
}

.banner-interna .descricao-empreendimento li i {
    width: 30px;
    height: 30px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.banner-interna .descricao-empreendimento li i.icon-metragem {
    background-image: url("../img/icon-metragem.png");
}

.banner-interna .descricao-empreendimento li i.icon-opcoes {
    background-image: url("../img/icon-opcoes.png");
}

.banner-interna .descricao-empreendimento li i.icon-vagas {
    background-image: url("../img/icon-vagas.png");
}

.banner-interna .valor-metragem {
    font-size: 20px;
    color: white;
    background: #f47332;
    display: block;
    text-align: center;
    padding: 0;
    border-radius: 30px;
    font-weight: 500;
    width: 200px;
}


/****/

.bg-informacoes-empreendimento {
    padding: 0px 10% 60px 10%;
}

.bg-informacoes-empreendimento h1 {
    font-size: 38px;
    color: black;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
}

.bg-informacoes-empreendimento h2 {
    font-size: 13px;
    color: black;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.bg-informacoes-empreendimento p {
    font-size: 16px;
    color: black;
    margin-bottom: 70px;
}

.bg-informacoes-empreendimento p i {
    width: 19px;
    height: 30px;
    float: left;
    background: url("../img/icon-localizacao.png") center no-repeat;
    margin: -5px 15px 0 0;
}

.informacoes-empreendimento-nav {
    padding: 0;
    width: 115px;
    border: none !important;
}

.informacoes-empreendimento-nav li {
    background: #f47332;
    margin-bottom: 11px !important;
    width: 100%;
    border-radius: 8px;
    height: 32px;
}

.informacoes-empreendimento-nav li.tamanho-font a {
    font-size: 11px;
    line-height: 11px !important;
    padding: 4px 0 !important;
}

.informacoes-empreendimento-nav li.active {
    background: black;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent !important;
    border: none !important;
}

.informacoes-empreendimento-nav li.active a {
    background-color: transparent !important;
    border: none !important;
}

.informacoes-empreendimento-nav li a {
    font-size: 15px;
    color: white !important;
    font-weight: 600;
    padding: 0 9px !important;
    line-height: 31px !important;
}

.informacoes-empreendimento-nav li a i {
    width: 31px;
    height: 31px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 4px;
}

.informacoes-empreendimento-nav li a i.icon-fotos-nav {
    background-image: url("../img/icon-fotos-nav.png");
}

.informacoes-empreendimento-nav li a i.icon-mapa-nav {
    background-image: url("../img/icon-mapa-nav.png");
}

.informacoes-empreendimento-nav li a i.icon-plantas-nav {
    background-image: url("../img/icon-plantas-nav.png");
}

.informacoes-empreendimento-nav li a i.icon-tour-nav {
    background-image: url("../img/icon-tour-nav.png");
    margin: -4px 6px 0 12px;
}

.informacoes-empreendimento-texto {
    width: 759px;
    margin: -174px 0 0 0;
    padding-left: 180px;
}

.informacoes-empreendimento-texto h4 {
    font-size: 16px;
    color: black;
    font-weight: 500;
    line-height: 22px;
}

.informacoes-empreendimento-texto p {
    font-size: 16px;
    color: black;
    font-weight: 400;
    line-height: 22px;
}

.informacoes-empreendimento-texto p b {
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.informacoes-empreendimento-nav-resultado #plantas p {
    font-size: 20px;
    color: black;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 400;
}

.informacoes-empreendimento-nav-resultado #plantas img {
    margin: 0 auto;
    display: block;
}

.informacoes-empreendimento-nav-resultado #plantas a p {
    text-decoration: none;
}

.informacoes-empreendimento-nav-resultado #mapa iframe {
    border-radius: 20px;
}

.informacoes-empreendimento-nav-resultado #fotos img {
    border-radius: 15px;
    height: 246px;
    margin: 0 auto;
}

.carousel-fotos .slick-prev,
.carousel-fotos .slick-next {
    background: url("../img/icon-arrow.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 38px;
    display: block;
}

.carousel-fotos .slick-prev {
    left: -50px;
    transform: rotate(180deg);
    margin-top: -20px;
}

.carousel-fotos .slick-next {
    right: -50px;
}

.carousel-fotos .slick-prev:before,
.carousel-fotos .slick-next:before {
    display: none;
}

.carousel-fotos .slick-prev:hover,
.carousel-fotos .slick-next:hover {
    background: url(../img/icon-arrow.png) no-repeat;
    opacity: 0.2;
}

.carousel-fotos .slick-prev:focus,
.carousel-fotos .slick-next:focus {
    background: url(../img/icon-arrow.png) no-repeat;
}

.carousel-fotos .slick-dots li button:before {
    content: "" !important;
}

.carousel-fotos .slick-dots li {
    width: 14px;
    height: 14px;
    background: #d1cdcd;
    border-radius: 100px;
}

.carousel-fotos .slick-dots li.slick-active {
    background: #f47332;
}

.carousel-fotos .slick-dots {
    bottom: -50px;
}

.bg-caracteristicas-empreendimento {
    padding: 0px 10% 0px 10%;
    position: relative;
    margin-bottom: 30px;
}

.bg-caracteristicas-empreendimento h2 {
    font-size: 35px;
    text-align: left;
    color: #5f5f5e;
    letter-spacing: 3px;
    margin-bottom: 65px;
    position: relative;
}

.bg-caracteristicas-empreendimento h2 b {
    color: black;
    font-weight: 600;
}

.bg-caracteristicas-empreendimento h2:after {
    content: "";
    width: 30%;
    height: 4px;
    background: #f47332;
    display: block;
    border-radius: 10px;
    margin-top: 9px;
    margin-left: 0;
    float: left;
    position: absolute;
}

.bg-caracteristicas-empreendimento p {
    font-size: 28px;
    color: #303030;
    margin-bottom: 45px;
}

.bg-caracteristicas-empreendimento i.icon-correto {
    background: url("../img/icon-correto.png") center no-repeat;
    width: 50px;
    height: 50px;
    float: left;
    margin: -4px 17px 0 0px;
}

.bg-caracteristicas-empreendimento h3 {
    font-size: 35px;
    text-align: left;
    color: #192e5a;
    letter-spacing: 3px;
    margin-bottom: 45px;
    position: relative;
}

.fotos-lazer-completo img {
    z-index: -2;
    position: relative;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    width: 75%;
    border-radius: 35px;
    margin-bottom: 20px;
    transform: skewX(12deg);
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 0 5px 22px rgb(50 50 50 / 57%);
}

.fotos-lazer-completo p {
    font-size: 27px;
    text-align: center;
    color: #000000;
}

.bg-valores-financiamento {
    padding: 50px 10% 50px 10%;
    position: relative;
    margin-bottom: 30px;
    background: #252525;
}

.bg-valores-financiamento h2 {
    font-size: 35px;
    text-align: left;
    color: #5f5f5e;
    letter-spacing: 3px;
    margin-bottom: 65px;
    position: relative;
}

.bg-valores-financiamento h2 b {
    color: white;
    font-weight: 600;
}

.bg-valores-financiamento h2:after {
    content: "";
    width: 30%;
    height: 4px;
    background: #f47332;
    display: block;
    border-radius: 10px;
    margin-top: 9px;
    margin-left: 0;
    float: left;
    position: absolute;
}


/**********************************************************************************/

.select-valores-financiamento .select-box__input-text img,
.select-valores-financiamento .select-box__option img {
    width: 125px;
    height: 66px;
    float: left;
    border-radius: 50px 0 0 50px;
}

.select-valores-financiamento .select-box__option img {
    margin: -15px 0 0 -140px;
    height: 64px;
}

.select-valores-financiamento .select-box__input-text img {
    margin: -12px 0 0 -136px;
}

.select-valores-financiamento h5 {
    font-size: 10px;
    color: #fff;
}

.select-valores-financiamento {
    margin-bottom: 50px;
}

.select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .select-box {
        width: 70%;
    }
}

@media (min-width: 992px) {
    .select-box {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .select-box {
        width: 100%;
    }
}

.select-box__current {
    position: relative;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
}

.select-box__current:focus+.select-box__list {
    opacity: 1;
    -webkit-animation-name: none;
    animation-name: none;
    margin-top: -31px;
    padding-top: 31px;
    /* background: #252525; */
}

.select-box__current:focus+.select-box__list .select-box__option {
    cursor: pointer;
}

.select-box__current:focus .select-box__icon {
    transform: translateY(-50%) rotate(180deg);
}

.select-box__icon {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
    width: 29px;
    opacity: 0.3;
    transition: 0.2s ease;
}

.select-box__value {
    display: flex;
}

.select-box__input {
    display: none;
}

.select-box__input:checked+.select-box__input-text {
    display: block;
}

.select-box__input-text {
    display: none;
    width: 100%;
    margin: 0 0 0 125px;
    padding: 12px 0 7px 11px;
    height: 66px;
    background-color: #252525;
    -webkit-box-shadow: 9px 7px 5px rgb(50 50 50 / 77%);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 0 5px 22px rgb(0 0 0 / 27%);
    border-radius: 0 50px 50px 0;
    font-size: 12px;
    color: #bbbbbb;
    z-index: 2;
}

.select-box__input-text span,
.select-box__option span {
    font-size: 15px;
    color: #ffffff;
}

.select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    -webkit-animation-name: HideList;
    animation-name: HideList;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.select-box__option {
    display: block;
    padding: 15px;
    background-color: #252525;
    margin-bottom: 0;
    font-size: 12px;
    color: #bbbbbb;
    font-weight: 500;
    margin-left: 125px;
    margin-bottom: 0px;
    height: 64px;
}

.select-box__option:hover,
.select-box__option:focus {
    color: #ffffff;
    background-color: #1e1e1e;
}

@-webkit-keyframes HideList {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}


/****--------------------------------------*****/


/****--------------------------------------*****/

.slide-range {
    margin: 40px 0;
}

.slide-range p {
    font-size: 12px;
    margin: 0;
    color: #ffffff;
}

.slide-range span {
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 18px;
    display: block;
}

.slide-range a {
    float: right;
    background: #f47332;
    color: #ffff;
    border-radius: 100px;
    padding: 0 10px;
    font-size: 10px;
    text-decoration: underline;
}

.range {
    width: 400px;
    height: 3px;
    -webkit-appearance: none;
    background: #5f5f5e;
    outline: none;
    overflow: hidden;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    box-shadow: -407px 0 0 400px #f47332;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #f47332;
}

.btn-select-valores-financiamento {
    padding: 0;
}

.btn-select-valores-financiamento li {
    list-style: none;
    float: left;
    background-color: #252525;
    -webkit-box-shadow: 9px 7px 5px rgb(50 50 50 / 77%);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 0 5px 22px rgb(0 0 0 / 27%);
    margin: 0 19px 0 0;
    border-radius: 5px;
    padding: 12px 15px;
}

.btn-select-valores-financiamento li:hover {
    background-color: #f47332;
    transition: 0.2s;
}

.btn-select-valores-financiamento li:hover a b {
    color: white;
}

.btn-select-valores-financiamento li a {
    text-decoration: none;
    text-align: center;
    font-size: 10px;
    color: white;
    display: block;
    font-weight: 600;
}

.btn-select-valores-financiamento li a b {
    color: #f47332;
}

.btn-select-valores-financiamento li a i {
    width: 50px;
    height: 31px;
    margin: 0 auto;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 7px;
}

.icon-calculo-renda {
    background-image: url("../img/icon-calculo-renda.png");
}

.icon-calculo-parcelas {
    background-image: url("../img/icon-calculo-parcelas.png");
}

.info-select-valores-financiamento {
    width: 100%;
    display: block;
}

.info-select-valores-financiamento h3 {
    font-size: 24px;
    color: white;
}

.info-select-valores-financiamento p {
    font-size: 15px;
    color: white;
    line-height: 30px;
    margin-bottom: 40px;
}

.info-select-valores-financiamento ul {
    padding: 0;
    height: 58px;
    margin-bottom: 0;
}

.info-select-valores-financiamento ul li {
    float: left;
    list-style: none;
    font-size: 15px;
    color: white;
}

.info-select-valores-financiamento ul li i.icon-info {
    background: url("../img/icon-info.png");
    width: 20px;
    height: 22px;
    margin: 0 auto;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}

.info-select-valores-financiamento ul li span {
    width: 100%;
    height: 1px;
    background: white;
    display: block;
    margin: 10px 0;
}

.info-select-valores-financiamento ul li:nth-of-type(1) {
    width: 27%;
}

.info-select-valores-financiamento ul li:nth-of-type(2) {
    width: 10%;
}

.info-select-valores-financiamento ul li:nth-of-type(3) {
    width: 40%;
}

.info-select-valores-financiamento ul li:nth-of-type(4) {
    width: 23%;
    text-align: right;
}

.info-select-valores-financiamento a {
    font-size: 15px;
    color: white;
    background-color: #f47332;
    text-align: center;
    border-radius: 100px;
    text-decoration: none;
    display: block;
    margin-top: 30px;
    padding: 6px;
    text-transform: uppercase;
    font-weight: 500;
}


/*******/

.bg-compre-imovel-seguranca {
    padding: 50px 10% 50px 10%;
    position: relative;
}

.bg-compre-imovel-seguranca h3 {
    font-size: 35px;
    text-align: left;
    color: #5f5f5e;
    letter-spacing: 3px;
    margin-bottom: 65px;
    position: relative;
}

.bg-compre-imovel-seguranca h3 b {
    color: black;
    font-weight: 600;
}

.bg-compre-imovel-seguranca h3:after {
    content: "";
    width: 30%;
    height: 4px;
    background: #f47332;
    display: block;
    border-radius: 10px;
    margin-top: 9px;
    margin-left: 0;
    float: left;
    position: absolute;
}

.bg-compre-imovel-seguranca i {
    width: 130px;
    height: 115px;
    display: block;
    margin: 0 auto;
    background-position: center;
    margin-bottom: 30px;
    background-repeat: no-repeat;
}

.bg-compre-imovel-seguranca i.icon-agende-visite {
    background-image: url("../img/icon-agende-visite.png");
}

.bg-compre-imovel-seguranca i.icon-financie {
    background-image: url("../img/icon-financie.png");
}

.bg-compre-imovel-seguranca i.icon-prepare-mudanca {
    background-image: url("../img/icon-prepare-mudanca.png");
}

.bg-compre-imovel-seguranca h4 {
    font-size: 15px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.bg-compre-imovel-seguranca p {
    font-size: 15px;
    text-align: center;
    color: black;
    font-weight: 500;
    padding: 0 33px;
}

.bg-compre-imovel-seguranca .arrow {
    width: 44px;
    height: 77px;
    display: block;
    background: url("../img/icon-arrow-larange.png") no-repeat center;
    position: absolute;
    top: 22px;
    right: -23px;
}


/*****/

.bg-informacoes-tecnicas-imovel {
    padding: 50px 10% 50px 10%;
    position: relative;
}

.bg-informacoes-tecnicas-imovel h3 {
    font-size: 35px;
    text-align: left;
    color: #5f5f5e;
    letter-spacing: 3px;
    margin-bottom: 65px;
    position: relative;
}

.bg-informacoes-tecnicas-imovel h3 b {
    color: black;
    font-weight: 600;
}

.bg-informacoes-tecnicas-imovel h3:after {
    content: "";
    width: 30%;
    height: 4px;
    background: #f47332;
    display: block;
    border-radius: 10px;
    margin-top: 9px;
    margin-left: 0;
    float: left;
    position: absolute;
}

.bg-informacoes-tecnicas-imovel h5 {
    font-size: 30px;
    color: #000000;
    margin-bottom: 50px;
}

.bg-informacoes-tecnicas-imovel ul {
    padding: 0;
}

.bg-informacoes-tecnicas-imovel ul li {
    list-style: none;
    font-size: 18px;
    color: #5f5f5e;
    text-align: right;
}

.bg-informacoes-tecnicas-imovel ul li span {
    list-style: none;
    font-size: 18px;
    color: #5f5f5e;
    text-align: left;
    display: block;
}

.bg-informacoes-tecnicas-imovel ul li span:after {
    content: "";
    width: 7%;
    height: 2px;
    background: #f47332;
    display: block;
    border-radius: 10px;
    margin-top: 3px;
    margin-left: 0;
    float: left;
    position: absolute;
}