@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    overflow-x: hidden !important;
    font-family: 'Montserrat', sans-serif !important;
}

a:focus {
    outline: 0 !important;
}

.sem-espaco {
    padding: 0 !important;
    margin: 0 !important;
}

header {
    height: 87px;
    background: rgb(0 0 0 / 44%);
    border-radius: 100px;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: 0 11%;
    z-index: 2;
}

header .portal-cliente {
    width: 323px;
    height: 87px;
    background-color: #f47332;
    border-radius: 100px;
    padding: 1px 39px;
    margin: 0;
    position: absolute;
    left: 0;
}

header .portal-cliente h2 {
    font-size: 14px;
    color: white;
    font-weight: 600;
    margin: 12px 0 0 0;
    padding: 0;
    height: 20px;
}

header .portal-cliente h2 i {
    background: url("../img/icon-portal-cliente.png");
    width: 25px;
    height: 27px;
    float: left;
    margin-top: -10px;
    margin-right: 11px;
}

header .portal-cliente input {
    font-size: 9px;
    margin: 0;
    width: 112px;
    margin-right: 4px;
    border: none;
    padding: 0 5px;
    height: 18px;
}

header .portal-cliente button {
    border: none;
    background: transparent;
    color: white;
    font-weight: 600;
    font-size: 10px;
    width: 117px;
    text-align: left;
    padding: 0;
}

header a.logo {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 300px;
    height: 87px;
}

header a.logo i {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 87px;
    display: block;
}

header .redes-sociais {
    width: 97px;
    height: 86px;
    padding: 20px 0;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: 22%;
}

header .redes-sociais:after {
    content: "REDES SOCIAIS";
    font-size: 11px;
    display: block;
    color: white;
    text-align: center;
}

header .redes-sociais li {
    list-style: none;
    float: left;
    margin: 0 4px;
}

header .redes-sociais li i {
    width: 24px;
    height: 27px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 4px;
}

header .redes-sociais li i.icon-instagram {
    background-image: url("../img/icon-instagram.png");
}

header .redes-sociais li i.icon-linkedin {
    background-image: url("../img/icon-linkedin.png");
}

header .redes-sociais li i.icon-facebook {
    background-image: url("../img/icon-facebook.png");
}

header .menu-box {
    width: 110px;
    height: 39px;
    margin: 24px 0;
    position: absolute;
    right: 0;
}

header .menu-box .menu-icon i {
    background: url("../img/icon-menu.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 22px;
    display: block;
    margin: 0 auto;
    margin-bottom: 7px;
    cursor: pointer;
}

header .menu-box .menu-icon {
    color: white;
    font-size: 11px;
    text-align: center;
}

header nav .nav {
    display: none;
    background: black;
    border-radius: 20px;
    width: 217px;
    padding: 10px;
    margin: 29px 0 0px -120px;
}

header nav .nav li a {
    font-size: 16px;
    color: white;
}

header nav .nav li a:hover {
    background: black;
    color: #f47332;
}

header nav .nav.ativo {
    display: block;
}

header nav .nav li a .icon-fale-conosco {
    background: url("../img/icon-fale-conosco.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    margin: 0px 0 0 12px;
}

.banner-home {
    background: url("../img/banner-home.jpg") no-repeat;
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    height: 670px;
}


/*****/

.bg-slide-empreendimentos {
    background: url("../img/bg-cinza.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 60px 10% 140px 10%;
}

.bg-slide-empreendimentos h1 {
    font-size: 35px;
    text-align: center;
    color: #5f5f5e;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 85px;
}

.bg-slide-empreendimentos h1 b {
    color: black;
    font-weight: 600;
}

.bg-slide-empreendimentos h1:after {
    content: "";
    width: 200px;
    height: 4px;
    background: #f47332;
    display: block;
    border-radius: 10px;
    margin-top: 9px;
    margin-left: -235px;
    position: absolute;
    left: 50%;
}

.carousel-empreendimentos {
    /* margin: 60px 10% 0px 10%; */
    height: 610px;
}

.carousel-empreendimentos .box-banner,
.carousel-empreendimentos .slick-initialized.slick-slide {
    width: 90% !important;
    margin: 0 auto;
    display: block !important;
    margin-top: 45px;
    transition: 0.2s;
}

.carousel-empreendimentos .box-banner .imagem-destaque {
    background: pink;
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-radius: 15px;
    z-index: 3;
    position: relative;
}

.carousel-empreendimentos .box-banner .imagem-destaque img {
    object-fit: cover;
    height: 220px;
    width: 100%;
    transition: 0.2s;
}

.carousel-empreendimentos .box-banner .imagem-destaque .icon-logo {
    width: 68px;
    height: 50px;
    position: absolute;
    z-index: 3;
    border-radius: 0 0 7px 0;
    margin: 0px;
}

.carousel-empreendimentos .box-banner:hover .imagem-destaque img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.carousel-empreendimentos .box-banner .chamada-texto {
    background: black;
    height: 275px;
    border-radius: 13px;
    z-index: 2;
    position: relative;
    margin-top: -25px;
    padding: 31px 15px;
    transition: 0.2s;
}

.carousel-empreendimentos .box-banner .chamada-texto h2 {
    font-size: 20px;
    color: white;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 55px;
}

.carousel-empreendimentos .box-banner .chamada-texto h2::after {
    content: "";
    width: 58px;
    height: 2px;
    background: #f47332;
    position: absolute;
    left: 0;
    bottom: -9px;
}

.carousel-empreendimentos .box-banner .chamada-texto ul {
    padding: 0;
    height: 77px;
    margin: 0;
}

.carousel-empreendimentos .box-banner .chamada-texto ul li {
    float: left;
    list-style: none;
    width: 33.33%;
    text-align: center;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    border-right: 1px solid #656464;
}

.carousel-empreendimentos .box-banner .chamada-texto ul li i {
    width: 50px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 7px;
}

.carousel-empreendimentos .box-banner .chamada-texto ul li i.icon-esquadro {
    background-image: url("../img/icon-esquadro.png");
}

.carousel-empreendimentos .box-banner .chamada-texto ul li i.icon-predio {
    background-image: url("../img/icon-predio.png");
}

.carousel-empreendimentos .box-banner .chamada-texto ul li i.icon-carro {
    background-image: url("../img/icon-carro.png");
}

.carousel-empreendimentos .box-banner .btn-veja-mais {
    background: #f47332;
    height: 73px;
    margin-top: -13px;
    z-index: 1;
    position: relative;
    border-radius: 0px 0px 17px 17px;
    padding: 31px 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    width: 100%;
    display: block;
}

.border-none {
    border: none !important;
}

.carousel-empreendimentos .slick-slide.slick-current.slick-active .box-banner {
    margin-top: 0;
}

.carousel-empreendimentos .slick-slide.slick-current.slick-active .box-banner .chamada-texto {
    height: 320px;
}

.carousel-empreendimentos .box-banner .chamada-texto h3,
.carousel-empreendimentos .box-banner .chamada-texto h4,
.carousel-empreendimentos .slick-slide.slick-current.slick-active .box-banner .chamada-texto h2::after {
    display: none;
}

.carousel-empreendimentos .slick-slide.slick-current.slick-active .box-banner .chamada-texto h3,
.carousel-empreendimentos .slick-slide.slick-current.slick-active .box-banner .chamada-texto h4 {
    display: block;
}

.carousel-empreendimentos .slick-slide.slick-current.slick-active .box-banner .chamada-texto h2 {
    margin-top: 8px;
    margin-bottom: 15px;
}

.carousel-empreendimentos .slick-slide.slick-current.slick-active .box-banner .chamada-texto h3 {
    margin: 15px 0 0 0;
    font-size: 11px;
    padding: 0;
}

.carousel-empreendimentos .slick-slide.slick-current.slick-active .box-banner .chamada-texto h4 {
    color: #f47332;
    font-size: 16px;
    margin-bottom: 25px;
}

.carousel-empreendimentos .slick-slide.slick-current.slick-active .box-banner .chamada-texto ul {
    height: auto;
}

.carousel-empreendimentos .slick-slide.slick-current.slick-active .box-banner .chamada-texto ul li {
    width: 100%;
    float: inherit;
    height: 44px;
    border: none;
    text-align: left;
    line-height: 32px;
}

.carousel-empreendimentos .slick-slide.slick-current.slick-active .box-banner .chamada-texto ul li i {
    float: left;
    width: 35px;
    height: 30px;
    background-size: contain;
    margin-right: 16px;
    margin-bottom: 0;
}

.carousel-empreendimentos .slick-prev,
.carousel-empreendimentos .slick-next {
    background: url("../img/icon-arrow.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 38px;
    display: block;
}

.carousel-empreendimentos .slick-prev {
    left: -50px;
    transform: rotate(180deg);
}

.carousel-empreendimentos .slick-next {
    right: -50px;
}

.carousel-empreendimentos .slick-prev:before,
.carousel-empreendimentos .slick-next:before {
    display: none;
}

.carousel-empreendimentos .slick-prev:hover,
.carousel-empreendimentos .slick-next:hover {
    background: url(../img/icon-arrow.png) no-repeat;
    opacity: 0.2;
}

.carousel-empreendimentos .slick-prev:focus,
.carousel-empreendimentos .slick-next:focus {
    background: url(../img/icon-arrow.png) no-repeat;
}

.btn-veja-mais {
    background: #f47332;
    z-index: 1;
    position: relative;
    border-radius: 12px;
    padding: 14px 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: white !important;
    text-decoration: none !important;
    font-weight: 700;
    letter-spacing: 2px;
    width: 178px;
    float: right;
}


/****/

footer {
    background: #252525;
    padding: 60px 7% 60px 7%;
    border-bottom: 70px solid black;
    height: 385px;
}

footer .nav-rodape ul {
    padding: 0;
}

footer .nav-rodape ul li {
    list-style: none;
    margin: 5px 0;
}

footer .nav-rodape ul li a {
    font-size: 13px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

footer .nav-rodape ul li a:hover {
    color: #f47332;
}

footer .form-rodape h2 {
    font-size: 12px;
    color: #f47332;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 4px;
    margin-top: 0;
}

footer .form-rodape p {
    font-size: 9px;
    color: #FFF;
    margin-bottom: 15px;
}

footer .form-rodape form label {
    width: 314px;
    margin-bottom: 12px;
    display: block;
}

footer .form-rodape form label i {
    width: 32px;
    height: 29px;
    position: absolute;
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
}

footer .form-rodape form label i.icon-nome {
    background-image: url("../img/icon-nome.png");
}

footer .form-rodape form label i.icon-email {
    background-image: url("../img/icon-email.png");
}

footer .form-rodape form label i.icon-telefone {
    background-image: url("../img/icon-telefone.png");
}

footer .form-rodape form label input {
    width: 100%;
    height: 28px;
    padding: 0 0px 0 38px;
    border: none;
    font-size: 10px;
    color: #8b8b8b;
    font-weight: 600;
}

footer .form-rodape form button {
    background: #f47332;
    border-radius: 7px;
    padding: 7px 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    color: white !important;
    text-decoration: none !important;
    font-weight: 700;
    letter-spacing: 2px;
    width: 135px;
    float: left;
    border: none;
}

footer .info-rodape {
    padding-left: 110px;
}

footer .info-rodape img {
    width: 250px;
    margin-bottom: 25px;
}

footer .info-rodape ul.footer-email-telefone {
    padding: 0;
    height: 43px;
    margin-bottom: 25px;
    margin-left: -15px;
}

footer .info-rodape ul.footer-email-telefone li {
    list-style: none;
    float: left;
    border-right: 1px solid white;
}

footer .info-rodape ul.footer-email-telefone li a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    line-height: 42px;
}

footer .info-rodape ul.footer-email-telefone li i {
    width: 70px;
    height: 42px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
}

footer .info-rodape ul.footer-email-telefone li i.icon-email-footer {
    background-image: url("../img/icon-email-footer.png");
}

footer .info-rodape ul.footer-email-telefone li i.icon-telefone-footer {
    background-image: url("../img/icon-telefone-footer.png");
}

footer .info-rodape ul.footer-redes-sociais {
    height: 38px;
    padding: 0;
}

footer .info-rodape ul.footer-redes-sociais li {
    list-style: none;
    float: left;
    margin: 0 4px;
}

footer .info-rodape ul.footer-redes-sociais li i {
    width: 24px;
    height: 27px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 4px;
}

footer .info-rodape ul.footer-redes-sociais li i.icon-instagram-footer {
    background-image: url("../img/icon-instagram.png");
}

footer .info-rodape ul.footer-redes-sociais li i.icon-linkedin-footer {
    background-image: url("../img/icon-linkedin.png");
}

footer .info-rodape ul.footer-redes-sociais li i.icon-facebook-footer {
    background-image: url("../img/icon-facebook.png");
}

.login-mobile,
.icon-close {
    display: none !important;
}